.AddUpForm{
    height: 95.5%;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top:2%;
    left:5%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 7px 6px 37px 0px rgba(0,0,0,0.75);
}

.AddUpForm .cancelBtn{
    height: 35px;
    width: 35px;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.AddUpForm .AddUpImgBox{
    position: relative;
    height: 20rem;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 6px 37px 0px rgba(0,0,0,0.4);

}

.AddUpImgBox .imgInput{
    height: 100%;
    width: 100%;
    position: absolute;
}

.AddUpImgBox .imgInput input{
    display: none;
}

.AddUpImgBox .imgInput .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.AddUpImgBox .imgInput .toFile{
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddUpImgBox .circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgba(13, 13, 13, 0.2);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.AddUpForm .aboutText{
    height: 16rem;
    width: 95%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 7px 6px 37px 0px rgba(0,0,0,0.4);
    scrollbar-width: thin;

}

.AddUpForm .AboutInputBox{
    height: 130px;
    width: 90%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* outline: 0; */
}

.AddUpForm .titleInputBox{
    width: 80%;
    outline: 0;
}

.AddUpForm .dateTime{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.AddUpForm .dateTime input{
    outline: #818181;
    height: 40px;
    border: solid 1px #818181;
    border-radius: 5px;
    padding-left: 10px;
}

.AddUpForm .AddLocation{
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.buttonsave{
    margin-left: 10px;
}

