@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto',sans-serif;
}
img{
  height: 100%;
  width: 100%;
}

a,
.dateselectbtn,
.catselectbtn{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

ul{
  list-style: none;
}