.superAdmin{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.superLeft{
    height: 100%;
    width: 20%;
    background-color: #0c172f;
    display: flex;
    justify-content: center;
    position: relative;
}

.superRight{
    height: 100%;
    width: 85%;
}